/* Global */
body {
	background-color: white;
	margin: 0px;
	height:100%;
	font-family: Open Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial, " sans-serif";
}
h1 {
	color:white;
}
h2{
	color:rgb(0, 0, 0);
}
div.wrapper {
	display:flex;
	overflow:hidden;
	margin: 0 auto;
	height: auto;
	width: 100%;
	position:absolute;
	background:rgba(255, 255, 255, 1);
}
#wrapper{
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s;
	display:none;
}
div.content {
	text-align: center;
	background-color:rgb(255, 255, 255);
	position: static;
	margin: 0 auto;
	font-family: 'Sulphur Point', sans-serif;
	height: 100%;
	width: 99%;
	padding: 11px;
	box-sizing: border-box;
}

/* Navbar */
div.navbar {
	Position: relative;
	padding-top:4px;
	max-width: 100%;
	left: -0px;
	top: 0;
	z-index: 55;
	background-color: white;
	margin: 0 auto;
	width:90%;
}

/* Home */
div.image{
	display: table-cell; 
	width: 30000px; 
	height: 400px; 
	text-align: center; 
	background: url(http://apollorgb-v1.anonymousmagici.repl.co/pics/light_up.jpg) 50% 50% / cover no-repeat transparent; 
	vertical-align: middle;
}
h1#slogan {
	color: white; font-family: 'Sulphur Point', sans-serif; 
	float:left; left:20%; 
	padding: 5% 2%; 
	font-size: 2rem; 
	margin: 0px auto; 
	box-sizing: border-box; 
	display: flex; 
	position: relative; 
	height: 250px;
	animation-name: slogan;
	animation-duration:20s;
	animation-iteration-count: infinite;
}
@keyframes slogan{
	0% {color: rgb(121, 121, 121);}
	25% {color: rgb(255, 255, 255);}
	50% {color: rgb(255, 241, 118);}
	80% {color: rgb(0, 0, 0);}
	100% {color: rgb(121, 121, 121);}
}
.button{
	background-color: rgb(226, 204, 0); /* Green */
	border: none;
	color: white;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-family:'Sulphur Point', sans-serif;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	z-index: 55;
}
.learn{
	float:right;
	position: absolute;
	right:35%;
	top:200px;
	z-index:55;
	display: block;
}
.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
a{
	text-decoration:none;
	font-family: 'Sulphur Point', sans-serif;
}
#about_product {
	color:black; padding-top:2%;
	font-size: 20px;	
}
#product_picture{
	object-fit:contain; max-width:100%; height:auto; padding-top:15px;

}

div#clr {
	clear:both;
}

/* About */
#intro{
	border-bottom: 2px solid lightblue; 
	width:20%;
	margin: 0 auto;
	animation-name:intro;
	animation-duration:5s;
	animation-iteration-count: infinite;
}
@keyframes intro{
	0% {border-bottom:2px solid rgb(125, 214, 255);}
	25% {border-bottom:2px solid rgb(96, 170, 255);}
	50% {border-bottom:2px solid rgb(0, 119, 255);}
	75% {border-bottom:2px solid rgb(96, 170, 255);}
	100% {border-bottom:2px solid rgb(125, 214, 255);}
}
.staff-desktop{
	display:none !important;
}
.staff-mobile{
	display:block;
	position: relative;
}
#info-primary{
	height:3000px;
}
.ja-mobile{
	display:block;
	position: relative;
	height:100%;
	top:1800px;
}
div.ja{
	padding-top:50px;
	display:block;
	background-color: rgb(250, 250, 250);
	width: 100%;
	margin:auto; margin-bottom:5px;
	position: relative;
	bottom:0;
	height:100%;
}
.ja-desktop{
	display:none;
}
#jalogo{
	object-fit:contain; 
	max-width:100%; 
	height:auto; 
	padding-top:15px; 
	position: relative; 
	top:5px;
	left: 0;
	margin: 0 auto;
}
p#desc{
	padding-left:10%;
	padding-right:5%;
	padding-bottom:15px;
	letter-spacing: 2px;
	text-align: left;
	padding-top: 120px;
}
p#desc2{
	padding-bottom:500px;
	padding-top: 10px; 
	padding-left:10%;
	padding-right:5%;
	letter-spacing: 2px; 
	text-align: left; 
	left:10px; 
	z-index: 55;
}
.mission{
	display:none !important;
}
.mission-mobile{
	display: block;
	height:500px;
	width: 80%;
	position: absolute;
	left:10%;
	z-index: 1000;
	margin:0 auto;
	padding-top: 10px;
	bottom:0;
}
.body-mobile{
	height:2000px;
	z-index: 0;
}
/* Loading */
.lds-dual-ring {
	display: block;
	width: 80px;
	height: 80px;
	padding-top: 10%;
	margin: 0 auto;
  }
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: rgb(255, 234, 48) transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
.particle{
	display:none;
}